html {
    box-sizing: border-box;
    font-size: 20px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

div {
    text-align: center;
    line-height: 300px;
    background-color: limegreen;
    margin: 50px auto;
    width: 300px;
    height: 300px;
    border-radius: 3em/13em;
}