html {
    box-sizing: border-box;
    font-size: 20px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

table {
    margin: 1rem;
    background-color: #6C7A89;
    border-collapse: collapse;
    height: 500px;
    width: 500px;
}

tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even) {
    background-color: #D2D7D3;
}