html {
    box-sizing: border-box;
    font-size: 20px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

ol >li{
    list-style-type: upper-alpha;
    color: blue;
}

li {
    list-style-type: square;
    color: orange;
}

li:last-child {
    margin-bottom: 1rem;
}